name: Deploy Next.js Docker App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image (GHCR)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/next-docker-app:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/next-docker-app:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/next-docker-app:buildcache,mode=max

      - name: Deploy on Windows server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.WINDOWS_SERVER_HOST }}
          username: ${{ secrets.WINDOWS_SERVER_USER }}
          password: ${{ secrets.WINDOWS_SERVER_SSH_KEY }}
          script: powershell.exe -NoProfile -ExecutionPolicy Bypass -File "C:\deploy\deploy.ps1"
